body{
  /* background-color: black;
  color: grey;  */
  /* margin: 20px 400px 20px 400px; */
  
}

h1{
  text-align: center;
}

h3{
  padding-top: 20px;
}

table{
  text-align: center;
  vertical-align: center;
  line-height: 1;
}

th,td{
  padding: 10px;
}

ul{
  list-style-type: none;
}

.line{
  border-right: solid 1px;
}

.endline{
  border-right: double;
}

.lessonmetadata{
  text-align: left;
}

.footer{
  padding-top: 30px;
}

.tablesubheading{
  text-align: left;
}
