<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>****</h1>
    <div id="details">
      <table>
        <tbody>
          <tr><td>Raga</td><td>:<a href="#">*****</a></td></tr>
          <tr><td>Taala</td><td>:<a href="#">*****</td></tr>
          <tr><td>Composer</td><td>:<a href="#">*****</a></td></tr>
        </tbody>
      </table>
    </div>

    <div id="pallavi">

    </div>

    <div id="anupallavi">

    </div>
    <div id="charanam">

    </div>


  </body>
</html>
